body {
  margin: 40px 20px;
  max-width: 120ch;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

p.listing {
    font-size: 14px;
}

pre.listing {
    line-height: 1.2;
    font-size: 14px;
    color: #242;
    padding: 0 10px;
    border: 1px solid;
}
