
#graft {
    padding:0;
    margin:0;
    /* color: #eef */
    /* background-color: #112; */
}

div#repl {
    height: 100%;
    background-color: #112;
}

div#ostr {
    height: 100%;
    background-color: #224;
}

pre {margin:0; padding:0}

code#code {
    margin:0;
    overflow: auto;
}

.code {
    width: 100%;
    height: 100%;
}


/* Classes */

.tile {
    float: left;
    margin:0;
    padding:0;
    position: relative;
    width: 640px;
    height: 400px;
    border: 1px solid #111;
}

.pane {
    position: absolute;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    background-color: #ebb;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 400px;
    background-color: #eee;
}
